* {
	margin: 0px;
	padding: 0px;

	font-size: 60%;
	box-sizing: border-box;
}

.menu {
	
	background: tomato;
	
	width: 100%;

}


.menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	max-height: 320px;
}

.menu-container img{
	padding: 3rem;
	width: 100%;

}

.menu-container a.btn {
	font-size: 3.2rem;
	text-decoration: none;
	color: white;
	margin: 1.1rem 1.1rem;
	padding: 0.6rem;
	transition: linear border-bottom 2s;

}

.menu-container a.btn:hover {
	border-bottom: 1px solid black;
	
}


.links {
	display: flex;
	flex-direction: column;

}

/**/
/**/


/*Rodape*/

.rodape {
	width: 100%;
	background-color: #8B0000;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 50%;
	font-size: 1.6rem;
}
/*Rotas do Rodape*/

.routes {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 4rem;
	color: white;
}

.routes h3{
	font-size: 2rem;
	margin-bottom: 1rem;
}

.routes a{
	color: white;
	text-decoration: none;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

/*Logo*/

.logoRoda {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.logoRoda img{
	width: 50%;
	height: 50%;
}
/*Media*/
.socialMedia {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.socialMedia  h3{
	color: white;
	font-size: 1.6rem;
	margin-bottom: 1.5rem;
}

.socialMedia img{
	margin-bottom: 1rem;
}

/*Span*/

.copyR {
	font-size: 1.6rem;
	text-align: center;
	padding: 2rem;
	background-color: rgb(133,0,0);
	color: white;
	
}



@media (min-width: 500px){

		.menu-container {
			display: flex;
			flex-direction: column;
		}



		.links {
			display: flex;
			flex-direction: row;
			justify-content: center;
			
		}


    @media (min-width: 960px){
		.menu-container {
			display: flex;
			flex-direction: row;
		}

		.menu-container img{
			margin-left:  4.4rem;
		}

		.links {
			display: flex;
			flex-direction: row;
			margin-right: 4.4rem;

		}

		.menu-container a.btn{
			font-size: 2.4rem;

		}


		/*Rodape */

		.rodape {
			margin-top: 35%;
			display: flex;
			flex-direction: row;
			
			justify-content: center;
			padding-top: 2rem;

			

			}
		/*Rotas do Rodape*/

		.routes {
			display: flex;
			align-items: center;
			flex-direction: column;
			margin: 0;
			color: white;
		}

		.routes h3{
			font-size: 2rem;
			margin-bottom: 1rem;
		}

		.routes a{
			color: white;
			text-decoration: none;
			font-size: 2rem;
			margin-bottom: 0.5rem;
		}

		/*Logo*/

		.logoRoda {
			display: flex;
			align-items: center;
			justify-content: center;
			
		}

		.logoRoda img{
			
		}
		/*Media*/
		.socialMedia {

			display: grid;
			grid-template-areas:  
			"social social"
			"whats face";

			text-align: center;
		}

		.socialMedia  h3{
			grid-area: social;
		}

		.socialMedia img.wpp{
			grid-area: whats;
		}

		.socialMedia img.face{
			.grid-area: face;
		}
    }
}