*{
	margin: 0;
	padding: 0;

	font-size: 60%;

	box-sizing: border-box;
}




.menu {
	
	background: tomato;
	width: 100%;
	



}


.menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	max-height: 320px;
	
}

.menu-container img{
	padding: 3rem;
	width: 100%;

}

.menu-container a.btn {
	font-size: 3.2rem;
	text-decoration: none;
	color: white;
	margin: 1.1rem 1.1rem;
	padding: 0.6rem;
	transition: linear border-bottom 2s;

}

.menu-container a.btn:hover {
	border-bottom: 1px solid black;
	
}


.links {
	display: none;
	flex-direction: column;

}

.body {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 2.4rem;
	color: white;
	background-color:#B22222;

}
/*display: */

.resp {
	width: 100%;
	font-size: 2.6rem;
	text-aling:center;
	background-color: #FF7F50; 
	display: flex;
	justify-content: center;

}

.spn {
	text-align: center;
	cursor: pointer;
}

.spn1 {
	display: none;
	cursor: pointer;
}

.imgW {
	margin: 2rem auto;
	cursor: pointer;
	
}

.tit {
	font-size: 2.6rem;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1rem;

}

/*Form*/

.form {

	display: flex;
	flex-direction: column;
	align-items: center;

}

.input {
	width: 50%;
	padding: 2rem;
	font-size: 1.2rem;
	margin: 1rem;
}

.inp {
	width: 50%;
	font-size: 1.6rem;
}

.inp1{
	width: 50%;
	font-size: 1.6rem;
}

.inp2{
	width: 50%;
	font-size: 1.6rem;
}

.sub {
	background-color: tomato;
	color: white;
	font-size: 1.6rem;
	border:none;
	border-radius: 1rem;
	width: 50%;
}

.sub:hover {
	background-color: #E9967A;
}

.text {
	width: 53%;
	padding: 2rem;
	font-size: 1.4rem;
	margin: 1rem;
	border-radius: 1rem;
	border:none;

}

/*Rodape*/

.rodape {
	width: 100%;
	background-color: #8B0000;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 50%;
	font-size: 1.6rem;
}
/*Rotas do Rodape*/

.routes {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 4rem;
	color: white;
}

.routes h3{
	font-size: 2rem;
	margin-bottom: 1rem;
}

.routes a{
	color: white;
	text-decoration: none;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

/*Logo*/

.logoRoda {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.logoRoda img{
	width: 50%;
	height: 50%;
}
/*Media*/
.socialMedia {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.socialMedia  h3{
	color: white;
	font-size: 1.6rem;
	margin-bottom: 1.5rem;
}

.socialMedia img{
	margin-bottom: 1rem;
}

/*Span*/

.copyR {
	font-size: 1.6rem;
	text-align: center;
	padding: 2rem;
	background-color: rgb(133,0,0);
	color: white;
	
}

@media (min-width: 500px){

		.menu-container {
			display: flex;
			flex-direction: column;
		}



		.links {
			display: flex;
			flex-direction: row;
			justify-content: center;
			
		}

		/*Section*/
		/*Display reposive*/
		.resp {
			
			
			display: none;
			

		}

		
		

		/*Form*/
		.form {

			display: flex;
			flex-direction: column;
			align-items: center;

		}

		.input {
			width: 50%;
			padding: 2rem;
			font-size: 1.2rem;
			margin: 1rem;
		}

		.sub {
			background-color: tomato;
			color: white;
			font-size: 1.6rem;
			border:none;
			border-radius: 1rem;
			width: 50%;
		}

		.sub:hover {
			background-color: #E9967A;
		}

		.text {
			width: 50%;
			padding: 2rem;
			font-size: 1.4rem;
			margin: 1rem;
			border-radius: 1rem;
			border:none;

		}


    @media (min-width: 960px){

    	/**/
    	.form {

			display: grid;
			grid-template-areas: 
			"name email"
			"subject subject"
			"other other"
			"btn btn";

			
			justify-content: center;
			justify-items:center;
			align-content: center;
			align-items: center;


		}


		.input {
			justify-content: space-between;
			align-content: space-between;

		}
		
		.inp {
			grid-area: name;
			padding: 2rem;
			width: 95%;
			font-size: 1.6rem;
			
		}

		.inp1 {
			grid-area: email;
			padding: 2rem;
			width: 95%;
			font-size: 1.6rem;
		}

		.inp2 {
			grid-area: subject;
			width: 98%;
			font-size: 1.6rem;
		}

		.sub {

			grid-area: btn;
			width: 98%;
			font-size: 1.6rem;

		}

		.text {
			grid-area: other;
			width: 98%;
			padding: 2rem;
			font-size: 1.6rem;
			margin: 1rem;
			border-radius: 1rem;
			border:none;

		}
    	/**/

		.menu-container {
			display: flex;
			flex-direction: row;
		}

		.menu-container img{
			margin-left:  4.4rem;
		}

		.links {
			display: flex;
			flex-direction: row;
			margin-right: 4.4rem;

		}

		.menu-container a.btn{
			font-size: 2.4rem;

		}

		/*Rodape */

		.rodape {
			
			display: flex;
			flex-direction: row;
			
			justify-content: center;
			padding-top: 2rem;

			

			}
		/*Rotas do Rodape*/

		.routes {
			display: flex;
			align-items: center;
			flex-direction: column;
			margin: 0;
			color: white;
		}

		.routes h3{
			font-size: 2rem;
			margin-bottom: 1rem;
		}

		.routes a{
			color: white;
			text-decoration: none;
			font-size: 2rem;
			margin-bottom: 0.5rem;
		}

		/*Logo*/

		.logoRoda {
			display: flex;
			align-items: center;
			justify-content: center;
			
		}

		.logoRoda img{
			
		}
		/*Media*/
		.socialMedia {

			display: grid;
			grid-template-areas:  
			"social social"
			"whats face";

			text-align: center;
		}

		.socialMedia  h3{
			grid-area: social;
		}

		.socialMedia img.wpp{
			grid-area: whats;
		}

		.socialMedia img.face{
			.grid-area: face;
		}
    }
}